[submodule "detox/ios/SocketRocket"]
	path = detox/ios/SocketRocket
	url = https://github.com/facebook/SocketRocket.git
	ignore = dirty
[submodule "detox/ios/EarlGrey"]
	path = detox/ios/EarlGrey
	url = https://github.com/google/EarlGrey.git
	ignore = dirty
[submodule "detox/ios/DetoxInstruments"]
	path = detox/ios/DetoxInstruments
	url = https://github.com/wix/DetoxInstruments.git
